---
import ios from '../images/icons/ios.svg';
import play from '../images/icons/play.svg';
import rub from '../images/icons/rub.svg';
import phone from '../images/phone.jpg';
import map from '../images/map.jpeg';
import set from '../images/set-icon.svg';
import arrow from '../images/icons/arrow-right.png';
import promo from '../images/promo_qr.png';
---

<script>
  // получаем массив табов и массив блоков контента

  const tabs = document.querySelectorAll('.tabs__name-item'),
    content = document.querySelectorAll('.tabs__content');

  //Запускаем цикл перебора наших вкладок и навешиваем событие клика

  for (let i = 0; i < tabs.length; i++) {
    tabs[i].addEventListener('click', (event) => {
      // удаляем активный класс c табов и скрываем контент

      for (let t = 0; t < tabs.length; t++) {
        tabs[t].classList.remove('tabs-active');
        content[t].classList.add('tabs-hidden');
        content[t].classList.remove('tabs-show');
      }
      //добавляем активный класс на таб и на определенный блок контента

      tabs[i].classList.add('tabs-active');
      content[i].classList.add('tabs-show');
    });
  }
</script>

<div class="wrapper">
  <div class="container">
    <div class="hero">
      <div class="hero__content">
        <h2 class="hero__content-title">
          Арендуй пауэрбанк по цене кофе.<br /> В нужное время в нужном месте
        </h2>
        <div class="hero__content-btn">
          <a class="btn__install">
            <p>Установить приложение</p>
            <img class="btn__install-img" src={arrow} alt="arrow-icon" />
          </a>
          <a class="btn-ios">
            <img src={ios} alt="ios-img" />
          </a>
          <a class="btn-android">
            <img src={play} alt="android-img" />
          </a>
        </div>
        <div class="hero__content-video">
          <img src="/images/video.png" alt="video-img" />
        </div>
      </div>
      <div class="hero__info">
        <div class="hero__info-text">
          Не переживай, если батарея на исходе.<p>
            Возьми пауэрбанк напрокат, пока совершаешь покупки или находишься на деловой встрече —
            вокруг тысячи станций.
          </p>
        </div>
        <div class="hero__info-aside">
          <img class="hero__info-phone" src={phone} alt="phone-img" />
          <img class="hero__info-map" src={map} alt="map-img" />
        </div>
      </div>
      <div class="price">
        <div class="price__left">
          <img src={rub} alt="rub-icon" class="price__left-img" />
          <h2 class="price__left-title">100 ₽ / 24 часа</h2>
          <p class="price__left-text">
            Тарифы в разных локациях отличаются — смотри актуальные цены в приложении.
          </p>
        </div>
        <div class="price__right">
          <h2 class="price__right-title">Установи приложение и арендуй пауэрбанк</h2>
          <div class="price__right-btn">
            <a class="price__right-btn-link">
              <p>Установить приложение</p>
              <img class="btn__install-img" src={arrow} alt="arrow-icon" />
            </a>
            <a class="btn-ios">
              <img src={ios} alt="ios-img" />
            </a>
            <a class="btn-android">
              <img src={play} alt="android-img" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="promo">
      <img src={promo} alt="promo__qr-img" class="promo-qr" />
      <div class="promo__mobile">
        <img class="promo__mobile-phone" src={phone} alt="phone-img" />
      </div>
      <div class="promo__info">
        <img src={set} alt="promo-img" class="promo__info-img" />
        <h2 class="promo__info-text">Бери заряд и заряжайся по пути</h2>
      </div>
    </div>
    <div class="tabs">
      <h2 class="tabs-title">Для всех, кто в движении</h2>
      <div class="tabs__name">
        <button class="tabs__name-item tabs-active">Руководитель</button>
        <button class="tabs__name-item">Курьер</button>
        <button class="tabs__name-item">Менеджер</button>
      </div>
      <div class="tabs__content tabs-show">
        <div class="tabs__content__left">
          <h2 class="tabs__content__left-title">
            «Пользуюсь несколько раз в месяц, когда внезапно сядет батарея. Не переживаю об этом и
            не парюсь с зарядкой своего пауэрбанка, когда "Заряд тут!" есть буквально повсюду»
          </h2>
          <div class="tabs__content__left__person">
            <img
              src="./images/founder.png"
              alt="person-img"
              class="tabs__content__left__person-img"
            />
            <div class="tabs__content__left__person-desc">
              <p class="tabs__content__left__person-name">Денис Теплов</p>
              <p class="tabs__content__left__person-text">OOO «Иванов и ко»</p>
            </div>
          </div>
        </div>
        <div class="tabs__content__right">
          <img src="./images/month-1.svg" alt="month" class="tabs__content__right-month" />
          <div class="tabs__content__right-money">Средний расход: 282 ₽/мес</div>
        </div>
      </div>
      <div class="tabs__content tabs-hidden">
        <div class="tabs__content__left">
          <h2 class="tabs__content__left-title">
            «Беру на каждой смене, иногда по 2–3 раза. Отлично, что есть тариф для курьеров.
            Администрация и сборщики тоже пользуются сервисом для работы»
          </h2>
          <div class="tabs__content__left__person">
            <img
              src="./images/founder.png"
              alt="person-img"
              class="tabs__content__left__person-img"
            />
            <div class="tabs__content__left__person-desc">
              <p class="tabs__content__left__person-name">Артем</p>
              <p class="tabs__content__left__person-text">Курьер Самоката</p>
            </div>
          </div>
        </div>
        <div class="tabs__content__right">
          <img src="./images/month-3.svg" alt="month-2" class="tabs__content__right-month" />
          <div class="tabs__content__right-money">Средний расход: 381 ₽/мес</div>
        </div>
      </div>
      <div class="tabs__content tabs-hidden">
        <div class="tabs__content__left">
          <h2 class="tabs__content__left-title">
            «Сервис прекрасно помогает работать без остановок и делать максимум из того, что
            запланировал на день. Не нужно тратить время на подзарядку гаджета»
          </h2>
          <div class="tabs__content__left__person">
            <img
              src="./images/founder.png"
              alt="person-img"
              class="tabs__content__left__person-img"
            />
            <div class="tabs__content__left__person-desc">
              <p class="tabs__content__left__person-name">Александр Сергеев</p>
              <p class="tabs__content__left__person-text">менеджер по развитию</p>
            </div>
          </div>
        </div>
        <div class="tabs__content__right">
          <img src="./images/month-1.svg" alt="month" class="tabs__content__right-month" />
          <div class="tabs__content__right-money">Средний расход: 182 ₽/мес</div>
        </div>
      </div>
    </div>
  </div>
</div>
