---
import info from '../images/info.png';
import set from '../images/set-icon.svg';
import founder from '../images/founder.png';
import arrow from '../images/icons/arrow-right.png';
import video from '../video/circle.mp4';
---

<script>
  // получаем массив вопросов и ответов блоков контента

  const question = document.querySelectorAll('.question__subtitle'),
    answer = document.querySelectorAll('.question__answer');

  //Запускаем цикл и тоглим класс

  for (let i = 0; i < question.length; i++) {
    question[i].addEventListener('click', () => {
      answer[i].classList.toggle('question__hidden');
    });
  }
</script>

<div class="container">
  <div class="info">
    <img src={info} alt="info-img" />
    <div class="info__desc">
      <h2 class="info__desc-title">Бесплатно установи зарядную станцию в свое заведение</h2>
      <p class="info__desc-text">
        Мы возьмем на себя техобслуживание и поддержку клиентов. Работаем с любыми проектами: от
        кафе до крупных торговых сетей.
      </p>
      <button class="info__desc-btn">Узнать подробнее</button>
    </div>
  </div>
  <div class="advantages">
    <div class="advantages__aside">
      <h2 class="advantages__aside-title">Инвестируй и зарабатывай вместе с нами</h2>
      <p class="advantages__aside-text">
        Стань частью самой масштабной сети пауэрбанк-шеринга на европейском континенте
      </p>
      <button class="advantages__aside-btn">
        <a href="#">Стать партнёром</a>
        <img src={arrow} alt="arrow-icon" />
      </button>
      <video class="advantages__aside-video" src={video} autoplay muted playsinline loop></video>
    </div>
    <div class="advantages__main">
      <ul class="advantages__main__list">
        <li class="advantages__main__item">
          <img class="advantages__main__item-img" src={set} alt="set-icon" />
          <h4 class="advantages__main__item-title">
            Без паушального взноса и дополнительных платежей
          </h4>
        </li>
        <li class="advantages__main__item">
          <img class="advantages__main__item-img" src={set} alt="set-icon" />
          <h4 class="advantages__main__item-title">
            Поделимся опытом и контактами сетевых партнёров
          </h4>
        </li>
        <li class="advantages__main__item">
          <img class="advantages__main__item-img" src={set} alt="set-icon" />
          <h4 class="advantages__main__item-title">Онлайн-обучение продажам с наставником</h4>
        </li>
        <li class="advantages__main__item">
          <img class="advantages__main__item-img" src={set} alt="set-icon" />
          <h4 class="advantages__main__item-title">Работаем с проектами любого уровня</h4>
        </li>
        <li class="advantages__main__item">
          <img class="advantages__main__item-img" src={set} alt="set-icon" />
          <h4 class="advantages__main__item-title">Личный аккаунт-менеджер и техподдержка 24/7</h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="founder">
    <div class="founder__about">
      <img src={founder} alt="founder__about-img" class="founder__about-img" />
      <h3 class="founder__about-name">Иван Иванов</h3>
      <p class="founder__about-text">основатель «Заряд тут!»</p>
    </div>
    <div class="founder__text">
      <p>
        «У меня, как и у большинства читателей этого текста, есть несколько пауэрбанков дома и я
        постоянно забываю их зарядить. По закону подлости вспоминаю об этом, когда на телефоне
        остается пара процентов, а я опаздываю на встречу.»
      </p>
      <button class="founder__text-btn">
        <p>Подробнее о нас</p>
      </button>
    </div>
  </div>
  <div class="question">
    <h2 class="question__title">Ответы на вопросы</h2>
    <div class="question__subtitle">
      <p class="question__subtitle-text">Сколько это стоит</p>
      <img
        src="./images/icons/arrow-blue.svg"
        alt="arrow"
        class="question__subtitle-img arrow-down arrow-up"
      />
    </div>
    <div class="question__answer question__hidden">
      Везде по-разному. Средняя стоимость — примерно 100 ₽ в сутки. Чтобы узнать действующий тариф,
      выбери зарядную станцию в приложении.
    </div>
    <div class="question__subtitle">
      <p class="question__subtitle-text">Как пользоваться?</p>
      <img
        src="./images/icons/arrow-blue.svg"
        alt="arrow"
        class="question__subtitle-img arrow-down arrow-up"
      />
    </div>
    <div class="question__answer question__hidden">
      <ul class="question__answer-list">
        <li class="question__answer-item">
          Скачай приложение «Заряд тут!» в App Store, Google Play или HUAWEI AppGallery.
        </li>
        <li class="question__answer-item">Создай учётную запись — нужен твой номер телефона.</li>
        <li class="question__answer-item" class="question__answer-item">
          Выбери удобную станцию на карте. Мы поможем зарядить телефон в торговом центре, в
          аэропорту, на вокзале и еще в тысячах мест по всему городу.
        </li>
        <li class="question__answer-item">
          Когда будешь на месте, ищи автомат с надписью «Заряд тут!»
        </li>
        <li class="question__answer-item">Следуй инструкциям на автомате.</li>
      </ul>
    </div>
    <div class="question__subtitle">
      <p class="question__subtitle-text">Где найти зарядные станции?</p>
      <img
        src="./images/icons/arrow-blue.svg"
        alt="arrow"
        class="question__subtitle-img arrow-down arrow-up"
      />
    </div>
    <div class="question__answer question__hidden">
      В разделе «Карта станции» Станции могут быть в наших цветах — сине-жёлтые. А могут быть
      оформлены в цветах бренда нашего партнёра.
    </div>
    <div class="question__subtitle">
      <p class="question__subtitle-text">Насколько пауэрбанк безопасен?</p>
      <img
        src="./images/icons/arrow-blue.svg"
        alt="arrow"
        class="question__subtitle-img arrow-down arrow-up"
      />
    </div>
    <div class="question__answer question__hidden">
      Полностью безопасен — как обычная зарядка. Наши пауэрбанки производят с соблюдением всех
      международных норм, сертификацией Apple и стран ЕАС.
    </div>
  </div>
</div>
